.background-animals{
    background: url("../images/background_animals.jpg") repeat-x center bottom;
    background-size: cover;
}

.logo{
    max-width: 20%;
}

.card-img-top {
    height: 180px;    
    width: 100%;
    object-fit: cover;
  }

.navbar-brand {
    font-size: 2rem; 
    font-weight: bold; 
    color: rgb(17 107 16)
}